        /* Set different colors for each contributor rank */
        ul li:nth-child(1) {
            color: black;
        }
        ul li:nth-child(2) {
            color: black;
        }
        ul li:nth-child(3) {
            color: black;
        }
        ul li:nth-child(4) {
            color: black;
        }
        ul li:nth-child(5) {
            color: black;
        } /* Missing closing curly brace */
    
        ul li:nth-child(6) {
            color: black;
        
        }
        ul li:nth-child(7) {
            color: black;
        }
        ul li:nth-child(8) {
            color: black;
        }
            
        h1, p {
                color: black;
                font-weight: 700; /* adjsut font weight */
            }
            h1 {
                font-weight: 700;
            }
            ul li a {
                color: darkpurple;
            }
        